# Node / Angular
node_modules/
dist/
.tmp/
.angular/
coverage/

# Java / Spring
target/
*.log
*.iml
.mvn/
spring.log

# IDEs
.vscode/
.idea/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Env
.env
